<h1>New Place Entry</h1>
<h2>Type the City Name</h2>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
  </p>


  <button>Submit</button>
</form>